/* Page Container */
.product-list-container {
    min-height: 80vh;
    padding: 40px 20px;
    background: linear-gradient(180deg, #5f8086, #00000063);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Title */
.product-list-container h2 {
    margin-bottom: 30px;
    font-size: 26px;
    color: #fbfbfb;
}


/* Product Grid */
.product-grid {
    width: 100%;
    max-width: 800px;
    display: grid;
    gap: 20px;
}

/* Product Card */
.product-card {
    background: #ffffff;
    padding: 20px 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-out;
    width: 90%;
}

/* Card Hover */
.product-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

/* Product Info */
.product-info {
    font-size: 16px;
    font-weight: 500;
    color: #444;
    
}

/* Delete Button */
.delete-btn {
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    background: #e74a3b;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}

/* Delete Hover */
.delete-btn:hover {
    background: #c0392b;
    transform: scale(1.05);
}

/* Loading Style */
.loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

.edit-btn {
    text-decoration: none;
    margin-right: 15px;
    color: rgb(87, 85, 83);
}
.edit-btn:hover {
    color: rgb(87, 85, 83);
    font-weight: 600;
}
